.sidebar{
    position: fixed;
    background: #226597;
    width: 70px;
    height: 100%;
    box-sizing: border-box;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0.1;
    .sidebar__menu{
        margin-top: 10px;
        display: grid;
        margin: 10px;
        font-size: 20px;
        height: 50%;
    }
}